#fontList {
  height: 93%;
  max-height: 100%;
  border: solid 0.5px #dee2e6;
  border-radius: 0px;
  overflow: scroll;
}

#selectAllItem {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@font-face {
  font-family: "arialBlk";
  src: url("../js/backEnd/imports/fonts/ariablk.ttf");
}

@font-face {
  font-family: "Luciole";
  src: url("../js/backEnd/imports/fonts/Luciole-Regular.ttf");
}

@font-face {
  font-family: "LucioleBold";
  src: url("../js/backEnd/imports/fonts/Luciole-Bold.ttf");
}

@font-face {
  font-family: "opendyslexicMono";
  src: url("../js/backEnd/imports/fonts/OpenDyslexicMono-Regular.otf");
}

@font-face {
  font-family: "verdana";
  src: url("../js/backEnd/imports/fonts/verdana.ttf");
}

@font-face {
  font-family: "verdanaBold";
  src: url("../js/backEnd/imports/fonts/verdanab.ttf");
}

#arialBlkLbl {
  font-family: "arialBlk";
}

#lucioleLbl {
  font-family: "Luciole";
}

#lucioleBldLbl {
  font-family: "LucioleBold";
}

#opDyslexLbl {
  font-family: "opendyslexicMono";
}

#verdanaLbl {
  font-family: "verdana";
}

#verdanaBldLbl {
  font-family: "verdanaBold";
}

#addFontDiv {
  margin-top: 10px;
}

.fontLbl {
  padding-left: 0.5%;
}
