.btnColumn{
    align-self: center;
    padding-left: 25px;
    text-align: center;
}

#addBtn{
    margin-bottom: 15px;
}

#selectedBoxColumn{
    padding-right: 20px;
}

#selectedBox{
    height: 91%;
    max-height: 425px;
    border: solid 0.5px #dee2e6;
    border-radius: 0px;
    overflow: scroll;
}

#metadataInfo{
    width: 100%;
    height: 104px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #dee2e6;
    padding: 2px;
    text-align: justify;
    background: transparent;
    margin-left: 0px;
}

.bi-universal-access-circle::before {
    color: blue;
    padding-right: 1%;
}

#selectedBox .bi-plus-square-fill {
    color: blue;
    font-size: larger;
    float: right;
}

#selectedBox .bi-pencil-square {
    color: blue;
    float: right;
}

#selectedBox .bi-trash3-fill {
    color: orangered;
    float: right;
}

th.required::after{
    content:' *';
    color:red;
}

.metaHeader{
    width: 10%;
    min-width: 10%;
}

#selectedBox input[type=text]{
    width: 95%;
    max-width: 95%;
}

#selectedBox input[type=checkbox]{
    position: absolute;
    bottom: 50%;
    left: 5px;
}

#selectedBox table{
    margin-left: 5%;
}

#selectedBox .list-group-item{
    padding-left: 0.5%;
    padding-right: 5%;
}