.settDiv {
  display: block;
  text-align: left;
  border: unset;
}

.settings {
  border: solid;
  color: lightgray;
  border-radius: 5px;
  border-width: 1px;
}

#projectColumn {
  margin-top: 15px;
}

#directory {
  text-align: left;
  color: #504f4f;
}