.required::after {
  content: " *";
  color: red;
}

#pubProgressBar {
  width: 25%;
}

#reviewBtn {
  --bs-btn-hover-bg: #f49738;
  --bs-btn-border-color: #f49738;
  --bs-btn-color: #f49738;
}

#buttonGroup {
  margin-top: 25px;
}
