#pageContainer {
    border-style: solid;
    border-width: 2px;
}

#mainRow {
    margin-bottom: 8px;
}

#tabTitle {
    text-align:center;
    background-color: #242BFF;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding-bottom: 7px;
}

#navColumn {
    border-style: solid;
    border-width: 2px;
    margin-left: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px
}

#navColumn .list-group-item.active {
    background-color: #F49738;
    border-color: #F49738;
    color: black;
}

#navColumn .list-group {
    border-radius: 0px;
}

#tabColumn {
    border-style: solid;
    border-width: 2px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 12px;
    width: 80%;
    min-height: 480px;
}

.logo {
    width: 107%;
    padding-right: 5px;
    padding-left: 5px;
    bottom: 0px;
}

 @media (min-width: 1290px) { 
  .logo {
    width: 77%;
  }
} 

.logoGroup {
    position: absolute;
    align-self: end;
    margin-bottom: 7px;
    width: 16%;
}

#tabContent {
    padding-left: 8px;
}
