body {
  -webkit-user-select: none;
  user-select: none;
}
#pageContainer {
  border-style: solid;
  border-width: 2px;
}

#mainRow {
  margin-bottom: 8px;
}

#tabTitle {
  text-align: center;
  background-color: #242bff;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding-bottom: 7px;
}

#navColumn {
  border-style: solid;
  border-width: 2px;
  margin-left: 12px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

#navColumn .list-group-item.active {
  background-color: #f49738;
  border-color: #f49738;
  color: black;
}

#navColumn .list-group {
  border-radius: 0px;
}

#tabColumn {
  border-style: solid;
  border-width: 2px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 12px;
  width: 80%;
  min-height: 500px;
}

.logo {
  width: 78%;
  padding-right: 5px;
  padding-left: 5px;
  bottom: 0px;
}

@media (min-width: 1290px) {
  .logo {
    width: 46%;
  }
}

.logoGroup {
  position: absolute;
  align-self: end;
  margin-bottom: 1%;
  margin-left: 2.5%;
  width: 14%;
}

#divContent {
  padding-left: 8px;
}

#recentColumn {
  border-style: solid;
  border-width: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 48%;
  overflow: scroll;
  max-height: 432px;
}

#recentColumn .list-group {
  border-radius: 0px;
  padding-left: 7px;
  padding-right: 7px;
}

#recentColumn .list-group-item {
  padding-left: 7px;
  padding-right: 7px;
}

#recentProjects {
  margin-bottom: 5px;
  padding-left: 7px;
}

.summDet {
  margin-left: 25px;
  margin-bottom: 0px;
}

#saveDiv{
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  background: #f1f1f1; /*#efece8*/
}

#saveDataBtn{
  width: 90%;
}

input:invalid:required {
  border: 1px dashed red;
}

#error{
  text-align: center;
  color: red;
}

.bi-exclamation-triangle-fill{
  float: right;
  color: red;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#langGroup{
  padding-bottom: 10px;
  padding-top: 10px;
  /* background: #e3e3e3; */
  padding-left: 25%;
}

#appLang{
  text-align: center;
}